
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions for reusable logic
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isExistingOwner(userId) {
      return isOwner(userId) && resource != null;
    }

    // Checks if the authenticated user is an INSS professional by looking for
    // their UID in the admins collection.
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.isAdmin == true;
    }

    // User can manage their own profile
    match /users/{userId} {
      allow read, create: if isOwner(userId);
      allow update: if isExistingOwner(userId);
      allow delete: if false;
    }

    // Requests can be created by any authenticated user.
    // An owner can read/update their own requests.
    // An admin can read all requests.
    match /requests/{requestId} {
      allow get, list: if isOwner(request.resource.data.userId) || isAdmin();
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if (isOwner(resource.data.userId) || isAdmin());
      allow delete: if isOwner(resource.data.userId);
    }
    
    // Admins collection is read-only for clients, managed server-side.
    match /admins/{adminId} {
        allow read: if isSignedIn();
        allow write: if false;
    }
  }
}
