
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ATENÇÃO: Regras abertas para fins de prototipagem.
    // Permite leitura e escrita em toda a base de dados para qualquer pessoa.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
